<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>RSR - Live Map</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
    <link rel="icon" href="//img1.wsimg.com/isteam/ip/d837f339-0c70-45ad-8c5c-4614e8fe41cf/favicon/a71a660b-037f-45e6-b5bc-8bbbb4f12562.png/:/rs=w:64,h:64,m" sizes="64x64"/>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
</head>
<body>

<div id='map'></div>
<script>
    //    function dev_in_progress() {
    //        var ask = window.confirm("Developer is currently workin on this, want to take a look?");
    //        if (ask) {
    //
    //            window.location.href = "https://www.twitch.tv/mike_for_sale/";
    //
    //        }
    //    }
    //    dev_in_progress();
</script>

<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiZW5naW5lMDc1NSIsImEiOiJjazMyY2NiNnkwaWpjM21wbXplcmk5azh5In0.XoHRgaAQgpCbLaqcBru51g';

    var bounds = [
        [35.580307, 39.103504], // Southwest coordinates
        [48.030353, 46.359388]  // Northeast coordinates
    ];


    var map = new mapboxgl.Map({
        container: 'map',
        //style: 'mapbox://styles/mapbox/streets-v9',
        style: 'mapbox://styles/mapbox/dark-v10',

        center: [40.392174,43.503044],
        zoom: 6.8,

        //maxBounds: bounds, // Sets bounds as max


    });

    var size = 200;

    // implementation of CustomLayerInterface to draw a pulsing dot icon on the map
    // see https://docs.mapbox.com/mapbox-gl-js/api/#customlayerinterface for more info
    var pulsingDot = {
        width: size,
        height: size,
        data: new Uint8Array(size * size * 4),

        // get rendering context for the map canvas when layer is added to the map
        onAdd: function() {
            var canvas = document.createElement('canvas');
            canvas.width = this.width;
            canvas.height = this.height;
            this.context = canvas.getContext('2d');
        },

        // called once before every frame where the icon will be used
        render: function() {
            var duration = 1000;
            var t = (performance.now() % duration) / duration;

            var radius = size / 4 * 0.3;
            var outerRadius = size / 4 * 0.7 * t + radius;
            var context = this.context;

            // draw outer circle
            context.clearRect(0, 0, this.width, this.height);
            context.beginPath();
            context.arc(this.width / 2, this.height / 2, outerRadius, 0, Math.PI * 2);
            context.fillStyle = 'rgba(255, 200, 200,' + (1 - t) + ')';
            context.fill();

            // draw inner circle
            context.beginPath();
            context.arc(this.width / 2, this.height / 2, radius, 0, Math.PI * 2);
            context.fillStyle = 'rgba(255, 100, 100, 1)';
            context.strokeStyle = 'white';
            context.lineWidth = 2 + 4 * (1 - t);
            context.fill();
            context.stroke();

            // update this image's data with data from the canvas
            this.data = context.getImageData(0, 0, this.width, this.height).data;

            // continuously repaint the map, resulting in the smooth animation of the dot
            map.triggerRepaint();

            // return `true` to let the map know that the image was updated
            return true;
        }
    };

    var pulsingDot1 = {
        width: size,
        height: size,
        data: new Uint8Array(size * size * 4),

        // get rendering context for the map canvas when layer is added to the map
        onAdd: function() {
            var canvas = document.createElement('canvas');
            canvas.width = this.width;
            canvas.height = this.height;
            this.context = canvas.getContext('2d');
        },

        // called once before every frame where the icon will be used
        render: function() {
            var duration = 1000;
            var t = (performance.now() % duration) / duration;

            var radius = size / 4 * 0.3;
            var outerRadius = size / 4 * 0.7 * t + radius;
            var context = this.context;

            // draw outer circle
            context.clearRect(0, 0, this.width, this.height);
            context.beginPath();
            context.arc(this.width / 2, this.height / 2, outerRadius, 0, Math.PI * 2);
            context.fillStyle = 'rgba(65, 105, 225,' + (1 - t) + ')';
            context.fill();

            // draw inner circle
            context.beginPath();
            context.arc(this.width / 2, this.height / 2, radius, 0, Math.PI * 2);
            context.fillStyle = 'rgba(65, 105, 225, 1)';
            context.strokeStyle = 'white';
            context.lineWidth = 2 + 4 * (1 - t);
            context.fill();
            context.stroke();

            // update this image's data with data from the canvas
            this.data = context.getImageData(0, 0, this.width, this.height).data;

            // continuously repaint the map, resulting in the smooth animation of the dot
            map.triggerRepaint();

            // return `true` to let the map know that the image was updated
            return true;
        }
    };


    map.on('load', function () {

        map.addImage('pulsing-dot', pulsingDot, { pixelRatio: 2 });
        map.addImage('pulsing-dot1', pulsingDot1, { pixelRatio: 2 });

        map.addLayer({php} echo $json_red_airbase {/php});
            map.addLayer({php} echo $json_blue_airbase{/php});


            });

            // disable map zoom when using scroll
            //map.scrollZoom.disable();
            //map.setMinZoom(7.0);

            map.loadImage('http://livemap.redstormrising.online:8888/airbase-neutral.png', function(error, image) {
                if (error) throw error;
                map.addImage('airbase-neutral', image);
                map.addLayer({php} echo $json_neutral_airbase{/php});
                });

                //render blue farps
                map.loadImage('http://livemap.redstormrising.online:8888/farp-blue.png', function(error, image) {
                    if (error) throw error;
                    map.addImage('farp-blue', image);
                    map.addLayer({php} echo $json_blue_farp{/php});
                    });

                    //render red farps
                    map.loadImage('http://livemap.redstormrising.online:8888/farp-red.png', function(error, image) {
                        if (error) throw error;
                        map.addImage('farp-red', image);
                        map.addLayer({php} echo $json_red_farp{/php});
                        });

                        //render neutral farps
                        map.loadImage('http://livemap.redstormrising.online:8888/farp-yellow.png', function(error, image) {
                            if (error) throw error;
                            map.addImage('farp-neutral', image);
                            map.addLayer({php} echo $json_neutral_farp{/php});
                            });

                            map.loadImage('http://livemap.redstormrising.online:8888/farp-blue.png', function(error, image) {
                                if (error) throw error;
                                map.addImage('farp-blue', image);
                                map.addLayer({
                                    "id": "points",
                                    "type": "symbol",
                                    "source": {
                                        "type": "geojson",
                                        "data": {
                                            "type": "FeatureCollection",
                                            "features": [{
                                                "type": "Feature",
                                                "geometry": {
                                                    "type": "Point",
                                                    "coordinates": [0, 0]
                                                }
                                            }]
                                        }
                                    },
                                    "layout": {
                                        "icon-image": "farp-blue",
                                        "icon-size": 0.15
                                    }
                                });
                            });

</script>

</body>
</html>